body {
    background-image: url("../../public/inv1.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.product-flex {
    display: flex;
    width: 70%;
    flex-wrap:wrap-reverse;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.product-card {
   flex-basis: 35%;
   margin-bottom: 1.5rem;
   margin-top: 1.5rem;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   border-radius: 1rem;
   height: 11rem;
}
.home-flex {
    display: flex;
    width: 90%;
    margin: 5rem auto auto auto;
}
.product-form {
    margin-top: 1rem;
    flex-basis: 30%;
    padding: 2rem;
    background-color:lightsteelblue;
    border-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height: 100vh;
}
.site-nav {
    height: 5rem;
}
.p-dates {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.card-body {
    display: flex;
    justify-content: space-between;
}
.card-design {
    width: 2rem;
    height: 11rem;
    margin: 0;
    background-color: lightsteelblue;
    border-radius: 0 1rem 1rem 0;
    margin-right: -1.1rem;
    margin-top: -1.05rem;
   border: solid rgb(34,37,41,1);
   border-width: 2px 5px 2px 0;
}